<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="XGameConnectionString" connectionString="Server=Server=DESKTOP-6KF8JR1;Database=XGame;Trusted_Connection=true;Integrated Security=Tru" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
